.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app-frame {
  padding: 30px;
  border: 5px solid #f9f6fd;
  border-radius: 10px;
}

#city-input {
  background-color: #f9f6fd;
  border: none;
  color: rgb(29, 29, 29);
}

#search-button {
  background-color: #f79cba;
  border: none;
}

.line-dividing {
  border: 3px solid #f79cba;
}

.bold-temperature strong {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #504f4f;
  line-height: 1;
  position: relative;
  top: -10px;
  left: 40px;
}

#weather-description {
  text-transform: capitalize;
}

.units {
  position: relative;
  font-size: 16px;
  top: -40px;
  left: 50px;
}

.units a {
  color: #a662ff;
  font-weight: normal;
}

.units .active {
  color: #504f4f;
  cursor: default;
  text-decoration: none;
  font-weight: bolder;
}

#celsius-link {
  text-decoration: none;
  cursor: default;
}
#farenheit-link {
  text-decoration: none;
  cursor: default;

}

#icon {
  position: relative;
  top: -30px;
  left: 50px;
}

.link-git {
  color: #a662ff;
  text-decoration: none;
}

#bottom-link {
  position: 0 auto;
}

h1 {
  color: #a662ff;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 20px;
  margin-top: 20px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #757575;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #504f4f;
  opacity: 70%;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: #f75282;
}

.weather-forecast-temp-min {
  opacity: 70%;
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .bold-temperature strong {
    font-size: 30px;
    position: relative;
    top: -30px;
    left: 10px;
  }
  .units {
    position: relative;
    font-size: 12px;
    top: -60px;
    left: -10px;
  }
 
  li {
    font-size: 10px;
  }
  #icon {
    position: relative;
    top: -30px;
    left: 30px;
  }
}
